<div id="<%= dom_id currency %>">
  <p>
    <strong>Name:</strong>
    <%= currency.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= currency.code %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= currency.rate %>
  </p>

</div>
